---
layout: default
title: blog
pagination:
  enabled: true
  collection: posts
  permalink: amiteshbadkul.github.io/page/:num/
  per_page: 5
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">

  <div class="header-bar">
    <h1>{{ site.blog_name }}</h1>
    <h2>{{ site.blog_description }}</h2>
  </div>

  {% if site.display_tags %}
  <div class="tag-list">
    <ul class="p-0 m-0">
      {% for tag in site.display_tags %}
        <li>
          <i class="fas fa-hashtag fa-sm"></i> <a href="{{ tag | slugify | prepend: '/blog/tag/' | relative_url }}">{{ tag }}</a>
        </li>
        {% unless forloop.last %}
          <p>&bull;</p>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if paginator.page == 1 %}
    {% assign pinned_posts = site.posts | where: "pinned", true | sort: "date" | reverse %}
    {% if pinned_posts.size > 0 %}
    <h2 class="mb-3">Pinned</h2>
    <ul class="post-list">
      {% for post in pinned_posts %}
        {% include blog-post-li.html post=post %}
      {% endfor %}
    </ul>
    <hr class="my-4">
    {% endif %}
  {% endif %}

  <ul class="post-list">
    {% for post in paginator.posts %}
      {% if paginator.page == 1 and post.pinned %}
      {% else %}
        {% include blog-post-li.html post=post %}
      {% endif %}
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
